{%- if schema.enum | enumMatchesType("string") -%}
    {%- for item in schema.enum -%}
        {%- if item is string -%}
"{{ item }}"{% if not loop.last %} | {% endif %}
        {%- endif -%}
    {%- endfor -%}
{%- else -%}
string
{%- endif -%}